.eventBody {
  position: relative;
  padding: 20px 40px;
  margin: 1%;
  box-sizing: border-box;
  height: 230px;
  width: 45%;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}

.titleContainer {
  height: 4.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.titleContainer ~ div {
  margin-top: 5px;
}

.detailButton {
  position: absolute;
  right: 25px;
  bottom: 20px;
  height: 35px;
  width: 100px;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.4s;
}

.detailButton:hover {
  background-color: black;
  color: white;
}

.detailButton:focus {
  outline: none;
}

@media all and (max-width: 1200px) {
  .eventBody {
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .eventBody {
    height: 270px;
    width: 100%;
  }
  .detailButton {
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
  }
}
